.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: #404040;
  
    &__container {
      display: flex; /* 画像とタイトルを横並びに */
      align-items: center; /* 縦方向を中央に揃える */
    }
    &__title {
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }
    &__title a {
      text-decoration: none;
      color: inherit;
    }
    
    &__menu {
      display: flex;
  
      li {
        margin: 0 10px;
        list-style-type: none;

        a {
          font-size: 15px;
          text-decoration: none;
          color: #000;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    @media (max-width: 860px) {
      &__container img {
        width: 40px; /* スマホサイズで画像を小さく */
        height: 40px;
      }
      &__title {
        font-size: 16px;
      }
      &__menu {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }