.footer {
  margin: 50px;
  display: flex;
  flex-direction: column;  /* SNSアイコンとタイトルを縦に並べる */
  align-items: center;
  justify-content: center;
  color: #404040;

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px; /* アイコンの間にスペースを追加 */
    margin-bottom: 5px; /* アイコンとタイトルの間に余白を追加 */
  }

  &__title {
    display: flex;
    align-items: center; /* 縦方向を中央に揃える */
    font-size: 12px;
  }
}
