.blog {
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  width: 250px; /* 幅を固定する */
  height: 300px; /* 高さを固定する */

  background: #fff;
  padding: 15px 10px;

  &__title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.2em;
    margin: 20px 0;
  }
  
  img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    background: #eee;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto 20px;
  }

  p {
    margin: 10px 0 0;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word; /* 単語を折り返す */
    overflow: hidden; /* コンテンツがあふれたら隠す */
    text-overflow: ellipsis; /* 省略形の "…" を表示 */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 最大表示行数を指定 */
    -webkit-box-orient: vertical;
    line-height: 1.5;
    height: calc(1.5em * 3); /* 高さを行数に基づいて調整 */
  }
}
