.work {
  background: #fff;
  padding: 15px 10px;
  color: #404040;

  &__title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.2em;
    margin: 20px 0 30px;
  }

  &__container {
    display: flex; /* フレックスボックスで横並び */
    flex-wrap: wrap; /* 画面幅に応じて折り返し */
    gap: 40px; /* 各アイテム間に余白 */
    justify-content: center; /* セット全体を中央揃え */
  }
  &__container a {
    text-decoration: none; /* 下線を消す */
    color: inherit; /* テキストの色を継承 */
  }

  &__item {
    text-decoration: none;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pic {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 200px;
    height: 200px;
  }

  &__pr {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
  }

  &__details {
    background: #01c7b3;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: background 0.3s ease;
  }

  &__item:hover &__details {
    background: #148b81; /* ホバー時に色を濃く */
  }
  /* アニメーション前の状態 */

  @media (max-width: 768px) {
    &__pic {
      flex-basis: calc(50% - 20px); /* 画面が狭い場合、2列に */
    }
  }

  @media (max-width: 480px) {
    &__pic {
      flex-basis: 100%; /* スマートフォン画面では1列に */
    }
  }

}